<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <th:block th:fragment="headerFragment">
    <div class="page-title">
      <h1 layout:fragment="page_title">관리자 대시보드</h1>
      <p layout:fragment="page_desc">[[${#temporals.createToday()}]] 기준 실시간 현황입니다.</p>
    </div>
    <div class="admin-menu">
      <!-- <button type="button" class="icon-btn">
        <i class="bi bi-bell"></i>
        <span class="dot"></span>
      </button>
      <button type="button" class="btn btn-primary btn-md">
        <i class="bi bi-plus-lg"></i> 수동 접수 등록
      </button> -->
    </div>
  </th:block>
</html>
