<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/user_layout}">

<!--이 곳에 link태그로 css파일을 연결하는 코드 작성-->
<th:block layout:fragment="content_css">
  <link rel="stylesheet" href="/css/pages/reserve/main.css">
</th:block>

<!--아래 block에 html 코드 작성-->
<th:block layout:fragment="content">
  <div class="main-hero">
    <div class="hero-text">
      <span class="live-badge">
        <span class="live-dot"></span> 실시간 매칭 시스템 가동 중
      </span>
      <h1>
        고장난 가전제품,<br>
        대기 없이 <span class="accent">지금 바로</span><br>
        고쳐드려요
      </h1>
      <p>
        내 주변의 검증된 전문 엔지니어가 원하는 시간에 맞춰 방문합니다.
        복잡한 전화 없이 터치 몇 번으로 간편하게 A/S를 예약하세요.
      </p>
      <div class="hero-btn-div">
        <a href="/reserve/form" class="btn btn-primary btn-lg">
          지금 A/S 예약하기 <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>

    <div class="hero-cards">
      <!-- 카드1 : 내 주변 기사 -->


      <!-- 카드2 : 진행 중인 예약 -->
      <div class="card card-lg reserve-card">
        <span class="side-line"></span>
        <div class="reserve-head">
          <p class="label">진행 중인 예약</p>
          <span class="time-chip"><i class="bi bi-clock"></i> 오늘 15:30 예정</span>
        </div>
        <div class="reserve-body">
          <div class="product-icon"><i class="bi bi-snow2"></i></div>
          <div>
            <span class="badge badge-orange animate-pulse">이동 중</span>
            <p class="product-name">벽걸이 에어컨 수리</p>
          </div>
        </div>
        <div class="driver-box">
          <div class="driver-info">
            <img src="https://placehold.co/100x100/e2e8f0/64748b?text=D">
            <div>
              <p class="name">김철수 기사님</p>
              <p class="desc">도착까지 약 15분 남음</p>
            </div>
          </div>
          <button type="button" class="btn-icon"><i class="bi bi-telephone-fill"></i></button>
        </div>
      </div>
    </div>
  </div>
</th:block>

<!--이 곳에 script태그로 js파일을 연결하는 코드 작성-->
<th:block layout:fragment="content_js">
</th:block>
</html>
